<li class="card">
    <button>Delete</button>
    <h2 class="card--title">Fluffy</h2>
    <img
        width="256"
        class="card--img"
        src="https://neaterpets.com/cdn/shop/articles/mainecoon.jpg"
    />
    <form>
        <ul class="card--text">
            <li>Age: <input name="age" type="number" value="5" /></li>
            <li>Breed: <input name="breed" type="text" value="Tabby" /></li>
            <li>Colour: <input name="colour" type="text" value="Brown" /></li>
            <li>
                Temperament: 
                <select name="temperament">
                    <option value="Affectionate" selected="true">Affectionate</option>
                    <option value="Bold">Bold</option>
                    <option value="Calm">Calm</option>
                    <option value="Curious">Curious</option>
                    <option value="Energetic">Energetic</option>
                    <option value="Friendly">Friendly</option>
                    <option value="Independent">Independent</option>
                    <option value="Loyal">Loyal</option>
                    <option value="Playful">Playful</option>
                    <option value="Reserved">Reserved</option>
                    <option value="Shy">Shy</option>
                    <option value="Sociable">Sociable</option>
                </select>
            </li>
            <li>
                <button type="submit">Update</button>
            </li>
        </ul>
    </form>
</li>